:root {
    --color-neutral-50: #ffffff;
    --color-neutral-100: #d8d8d8;
    --color-neutral-500: #3b3b3b;
    --color-neutral-800: #1f1f1f;
    --color-neutral-900: #080808;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: var(--color-neutral-50);
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}

hr {
    border: 1px solid var(--color-neutral-500);
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.side-panel {
    min-width: 200px;
    max-width: 300px;
    flex: 1 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--color-neutral-900);
}

.controls__input {
    width: 100%;
    margin: 0.5rem 0;
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-800);
    border-radius: 4px;
    padding: 0.5rem;
}

#apply {
    margin-top: 1rem;
    color: var(--color-neutral-50);
    background-color: var(--color-neutral-500);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
}

#apply:hover {
    background-color: var(--color-neutral-800);
}

#canvas {
    width: min(100vh, calc(100vw - 400px));
    height: min(100vh, calc(100vw - 400px));
}
